 <div data-tabs class="tabs tabs-underlined">
      <div class="tab">
        <input type="radio" name="tabgroup" id="tab-1" checked>
        <label for="tab-1">Accueil</label>
      </div>
      <div class="tab">
        <input type="radio" name="tabgroup" id="tab-2" >
        <label for="tab-2">Détails</label>
      </div>
      <div class="tab">
        <input type="radio" name="tabgroup" id="tab-3" >
        <label for="tab-3">Contact</label>

      </div>
    </div>




