  <section class="background" id="background">
    <div class="content-wrapper">
      <p class="content-title titre">La Brocante Saint Aubinaise </p>
      <p class="content-subtitle2">Brocante , debarras complet , achat vente militaria en Bretagne . </p>
      <i class="content-subtitle fas fa-sort-down" id="arrows1"></i>
    </div>
  </section>

  <section class="background" id="background">
    <div class="content-wrapper">
      <i class="content-subtitle fas fa-sort-down" id="arrows2"></i>
      <div class="detailspage">
        <div class="content-details">
          <div class="textdetail">
            <h3 class="textdetailtitle">La Brocante St Aubinaise</h3>
            <p>Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="background">
    <div class="content-wrapper">
      <i class="content-subtitle fas fa-sort-up" id="arrows3"></i>
      <div class="container content-contact">
        <div class="row">
          <div class="col-12">
            <div class="textcontact">
              <h3>Contactez-moi</h3>
              <p>Merci de bien vouloir remplir ce formulaire afin de me faire part de vos demandes.</p>
            </div>
          </div>
        </div>
        <form action="https://formspree.io/xaylnoqq" method="post" enctype="application/x-www-form-urlencoded" name="formulaire">
          <div class="row">
            <div class="col-lg-4 col-12">
              <input  class="row1" id="nom" type="text" placeholder="Nom*" size="21" name="nom" required>
            </div>
            <div class="col-lg-4 col-12">
              <input class="row1" type="email" placeholder="Courriel*" name="email" size=21 required>
            </div>
            <div class="col-lg-4 col-12">
              <input class="row1" type="phone" type="number" placeholder="Téléphone*" name="phone" size="21" required>
            </div>
            <div class="col-12">
              <textarea class="row2" name="message" placeholder="Tapez içi votre message" rows="6" required></textarea>
            </div>
             <div class="col-12">
              <p class="row4">** Les informations recueillies font l’objet d’un traitement informatique destiné à BEDEL HUGUES,
                        responsable du traitement, aux fins de proposition de produits et/ou services et de prospection commerciale.
                        Les données sont également destinées à Futur Digital prestataire de la société BEDEL HUGUES pour l’exécution
                        contrat qui les lie. Conformément à la réglementation en vigueur, vous disposez notamment d'un droit
                         d'opposition, d'accès, de rectification et d'effacement sur les données personnelles qui vous concernent.
                        Pour plus d’informations, cliquez ici. </p>
            </div>
            <div class="col-12">
              <input class="row3" id="envoyer" type="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <%= render "shared/menu" %>





