  <section class="background" id="background">
    <div class="content-wrapper">
      <p class="content-title titre">La Brocante Saint Aubinaise </p>
     <!--  <p class="content-subtitle2">Brocante , debarras complet , achat vente militaria en Bretagne . </p> -->
      <i class="content-subtitle fas fa-sort-down" id="arrows1"></i>
      <div class="home">
        <div class="description">
          <p class="home-0"></p>
          <p class="home-1">ACCUEIL / A PROPOS </p>
          <p class="home-01"></p>
          <p class="home-3">Achat / Vente Mobilier, Objets, Tableaux, Objet militaire du XVIIIeme au XXeme siècle </p>
        </div>
        <div class="evenement">
          <p class="home-2">Retrouvez-moi lors de différents évènements </p>
          <p class="home-21">Aucun événement trouvé ! </p>
        </div>
      </div>

    </div>
  </section>

  <section class="background" id="background">
    <div class="content-wrapper">
      <i class="content-subtitle fas fa-sort-down" id="arrows2"></i>
      <div class="detailspage">
        <div class="content-details">
          <div class="textdetail">
            <h3 class="textdetailtitle">Antiquités Brocante Yves Dumortier</h3>
            <p class="border"></p>
            <p class="presentation">Je vous apporterai mes connaissances et mon expérience dans l’achat et la vente d’objets anciens, de meubles anciens et design, luminaires, verreries, vaisselles anciennes, tableaux, sculptures, bronzes, tapis, instruments, bijoux, argenterie, monnaies, jouets anciens, livres, tissus anciens, miroirs, boiseries, fenêtres, grilles, volets anciens…
              <br><br> Estimation et déplacement gratuits.</p>
            <p class="border2"></p>
            <p class="details-1">Yves Dumortier Antiquités Brocante : Antiquaire, Brocanteur, débarras à Rennes, Lille et Sarzeau.</p>
            <p class="border2"></p>
          </div>
          <div class="textdetailimage">
            <img class="galerie" src="https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=641&q=80" alt="">
            <img class="galerie" src="https://images.unsplash.com/photo-1463717738788-85fcacb6ac3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1541943417656-ac33b06a6b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=619&q=80" alt="" class="galerie">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="background">
    <div class="content-wrapper">
      <i class="content-subtitle fas fa-sort-up" id="arrows3"></i>
      <div class="content-details">
        <div class="row rowcontact">
          <div class="col-12">
            <div class="textcontact">
              <h3 class="textdetailtitle">Contactez-moi</h3>
              <p class="presentation">Merci de bien vouloir remplir ce formulaire afin de me faire part de vos demandes.</p>
            </div>
          </div>
        </div>
        <form action="https://formspree.io/xaylnoqq" method="post" enctype="application/x-www-form-urlencoded" name="formulaire">
          <div class="row">
            <div class="col-lg-4 col-12">
              <input  class="row1" id="nom" type="text" placeholder="Nom*" size="21" name="nom" required>
              <input class="row1" type="email" placeholder="Courriel*" name="email" size=21 required>
              <input class="row1" type="phone" type="number" placeholder="Téléphone*" name="phone" size="21" required>
            </div>
            <div class="col-lg-8 col-12">
              <textarea class="row2" name="message" placeholder="Tapez içi votre message" rows="5" required></textarea>
            </div>
             <div class="col-12">
              <p class="row4">** Les informations recueillies font l’objet d’un traitement informatique destiné à BEDEL HUGUES,
                        responsable du traitement, aux fins de proposition de produits et/ou services et de prospection commerciale.
                        Les données sont également destinées à Futur Digital prestataire de la société BEDEL HUGUES pour l’exécution
                        contrat qui les lie. Conformément à la réglementation en vigueur, vous disposez notamment d'un droit
                         d'opposition, d'accès, de rectification et d'effacement sur les données personnelles qui vous concernent.
                        Pour plus d’informations, cliquez ici. </p>
            </div>
            <div class="col-12">
              <input class="row3" id="envoyer" type="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <%= render "shared/menu" %>





