.formposition {
  display: flex;
  justify-content: space-around;
  grid-gap: 25px;
  flex-wrap: wrap;
  margin: 40px 40px;
}
#envoyer{
  margin-bottom: 40px;
}
.ligne input{
  margin-bottom: 30px;
}
.textcontact{
  color: black;
  text-align: left;
  font-size: 10px;
  margin-left: 40px;
  margin-top: 60px;
}
.textcontact p{
  font-size: 15px;
}
.laws{
  position: absolute;

}

.law{
  color:black;
  text-transform: lowercase;
  font-size: 8px;
  margin: 0 20%;
}
.lawbox{
  position: relative;
  left: 20%;
}
#accept{
text-align: center;

}
