.formposition {
  // display: flex;
  // justify-content: space-around;
  grid-gap: 25px;
  // flex-wrap: wrap;
  margin: 40px 40px;

}
#envoyer{
  margin-bottom: 40px;
}
.ligne{
  width: 80vw;
}
.ligne input{
  margin-bottom: 30px;
}
.textcontact{
  color: black;
  text-align: left;
  margin-top: 20px;
}
.textcontact h3{
  font-size: 3vh;
}
.textcontact p{
  font-size: 2vh;
}
.laws{
  position: absolute;
}

.law{
  color:black;
  text-transform: lowercase;
  font-size: 8px;
  margin: 0 20%;
}
.lawbox{
  position: relative;
  left: 20%;
}
#accept{
text-align: center;

}
.container{
  color: black;
}
.row1{
  margin-top: 15px;
  width: 100%;
}
.row2{
  margin-top: 15px;
  width: 100%;
}
.row3{
  margin-top: 15px;
}
.row4{
  color:black;
  text-transform: lowercase;
  font-size: 8px;
  width: 100%
}
