@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.tabs {

  height: auto; /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
  float: left;
}

.tab label {
  margin-right: 20px;
  position: relative;
  top: 10%;
  cursor: pointer;
  color: white;
   text-transform: uppercase;
   margin-top: 20px;
}

.tab [type=radio] {
  display: none;
}

[type=radio]:checked ~ label {
  border-bottom: 2px solid white;
  font-weight: bold;
  color: white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}
